    <div class="container-fluid footer-content" style="border-top: 4px solid #01FF70;">
        <div class="container mg-top mg-btm">
            <div class="row justify-content-center">
                <a href="/" class="btn-primary btn-lg rounded-circle"><i class="fab fa-twitter"></i></a>
                <a href="/" class="btn-primary btn-lg rounded-circle"><i class="fab fa-facebook-f"></i></a>
                <a href="/" class="btn-primary btn-lg rounded-circle"><i class="fab fa-instagram"></i></a>
                <a href="/" class="btn-primary btn-lg rounded-circle"><i class="fab fa-snapchat"></i></a>
            </div>
            <div class="row justify-content-center mg-top h5-left" style="color:antiquewhite;">
                <h5>Home</h5>
                <h5>Menu</h5>
                <h5>Order Product</h5>
                <h5>Contact Us</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-sec">

    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>