<% include partials/header %>

<div class="row">   
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky" style="margin-right: -15px;">
            <ul class="nav flex-column" style="font-size: 1.3em;">
                <li class="nav-item" style="font-size: 1.5em; border-bottom: 2px solid black;"><strong>DASHBOARD</strong></li>
                <li class="nav-item dash-link"><a href="/dashboard" class="nav-link">Contact Us Responses</a></li>
                <li class="nav-item dash-link">Shake of the month</li>
                <li class="nav-item dash-link"><a class="nav-link" href="/applications" style="background-color: #A1FFCE; border-bottom: 5px solid #28a745; color: black;">Applications</a></li>
                <li class="nav-item dash-link"><a href="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>
    
</div>

<% include partials/footer %>