<% include partials/header %>
<div class="container-fluid content bg-transparent" style="height: 700px;">
    <div class="container bg-white" style="height: 100%; padding-top: 60px;">
        <h1 class="text-center">Contact Us</h1>
        <p class="text-center">Please feel free to leave questions, comments, and concerns and we will get back ASAP!</p>
        <hr style="width: 100%;">
        <form action="/contact-us" method="POST">
            <div class="form-group">
            <div class="row text-center">
                <div class="col">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" required="required" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="textarea" required="required" class="form-control" id="userName" name="name" placeholder="Enter Name">
                    </div>
                </div>
            </div>
            </div>
            <div class="form-group text-center">
            <label for="exampleInputPassword1">Message</label>
            <textarea required="required" class="form-control mg-btm" id="exampleFormControlTextarea1" name="message" rows="6"></textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-success btn-lg btn-block">
        </form>
        </script>
    </div>
</div>

<% include partials/footer %>