<% include partials/header %>

<div class="row">   
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">Contact Us Responses</li>
                <li class="nav-item">Shake of the month</li>
                <li class="nav-item"><a herf="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>

<% include partials/footer %>