<% include partials/header %>
<div class="wrapper">
    <div class="container-fluid content bg-image shadow animated fadeInDown">
        <div class="container">
            <div class="row justify-content-center">
                <div>
                    <h1 class="head" style="font-size: 4em;">Key Nutrition</h1>
                        <p class="subtext"><em>Good Nutrition On the Go</em></p>
                        <div class="row justify-content-center">
                            <a href="/" class="btn btn-success btn-lg" style="margin-right: 10px;">Menu</a>
                            <a href="/contact-us" class="btn btn-outline-success btn-lg">Contact Us</a>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid content-sz">
        <div class="container mg-btm animated fadeInUp">
            <h1 class="text-center mg-top">Shakes of the Month:</h1>
            <div class="row justify-content-center">
                <% shakes.forEach(function(shake){ %>
                <div class="col-auto mg-top">
                    <div class="card shadow" style="width: 18rem;">
                        <img class="card-img-top" src="https://dummyimage.com/640x360/fff/aaa" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title"><%= shake.shakeName %></h2>
                            <p class="card-text"><%= shake.description %></p>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>