<% include partials/header %>

    <div class="container-fluid bg-white content">
        <div class="jumbotron">
            <h1 class="head">Key Nutrition</h1>
        </div>
    </div>

<% include partials/footer %>