<% include partials/header %>

    <div class="container-fluid bg-white content bg-image splash-img">
        <div class="container">
            <div class="row justify-content-center">
                <div>
                    <h1 class="head">Key Nutrition</h1>
                    <p class="subtext"><em>~ Good Nutrition On the Go</em></p>
                    <div class="btn-center">
                        <button type="button" class="btn btn-success btn-lg">Success</button>
                        <button type="button" class="btn btn-outline-success btn-lg">Success</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>