<% include partials/header %>
<style>
        /* Set the size of the div element that contains the map */
        #map {
          height: 400px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
          margin: 0 auto;
          padding: 0;
         }
      </style>
<div class="wrapper">
    <div class="container-fluid content bg-image shadow animated fadeInDown">
        <div class="container">
            <div class="row justify-content-center">
                <div>
                    <h1 class="head" style="font-size: 4em;">Key Nutrition</h1>
                        <p class="subtext"><em>Good Nutrition On the Go</em></p>
                        <div class="row justify-content-center">
                            <a href="/" class="btn btn-success btn-lg" style="margin-right: 10px;">Menu</a>
                            <a href="/contact-us" class="btn btn-outline-success btn-lg">Contact Us</a>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid content-sz">
        <div class="container mg-btm animated fadeInUp">
            <h1 class="text-center mg-top">Shakes of the Month:</h1>
            <div class="row justify-content-center">
                <% shakes.forEach(function(shake){ %>
                <div class="col-auto mg-top" style="margin: 5px;">
                    <div class="card shadow" style="width: 18rem;">
                        <img style="height: 250px;  " class="card-img-top" src="<%= shake.shakeImg %>" alt="Card image cap">
                        <div class="card-body" style="border-bottom: 4px solid #01FF70;">
                            <h2 class="card-title"><%= shake.shakeName %></h2>
                            <p class="card-text"><%= shake.description %></p>
                            <a href="#map" class="btn btn-lg btn-block btn-outline-success">Get Yours Today!</a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
            <div class="container">
                <div class="row justify-content-center mg-btm" style="width: 100%; margin: 0 auto;">
                        <div class="col-lg-5 col-xs-12">
                            <div class="row bg-white shadow mg-right" style="margin-bottom: 2%; border-radius: 10px; height: 50%;">
                                <div class="col mobile-fluid" style="padding-left: 0; padding-right: 0;">
                                    <h2 class="text-center bg-image" style="border-bottom: 2px solid #01FF70; padding: 15px; width: 100%; border-top-right-radius: 10px; border-top-left-radius: 10px;">About Us:</h2>
                                    <div class="row">
                                        <div class="col">
                                            <p>Apple</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row bg-white shadow mg-right" style="border-radius: 10px; height: 49%;">
                                <div class="col" style="padding-right: 0; padding-left: 0;">
                                    <h2 class="text-center bg-image" style="border-bottom: 2px solid #01FF70; padding: 15px; width: 100%; border-top-right-radius: 10px; border-top-left-radius: 10px;">
                                        3-Step Process:
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xs-12 bg-white shadow mobile-fluid m-top" style="border-radius: 10px; padding: 0;">
                            <h2 class="text-center bg-image" style="border-bottom: 2px solid #01FF70; padding: 15px; border-top-right-radius: 10px; border-top-left-radius: 10px;">Hours &amp; Info.</h2>
    
                            <div class="text-justify" style="margin: 20px;">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                    <h3 style="font-size: 24px;">Address:</h3>
                                    </div>
                                    <div class="col-md-6 col-xs-12 text-justify">
                                        <h3 style="font-size: 24px;">928 S Court St <br> Crown Point, IN 46307</h3>
                                    </div>
                                </div>
                                <div class="row mg-top">
                                    <div class="col-md-6 col-xs-12">
                                        <h3 style="font-size: 24px;">Phone:</h3>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <h3 style="font-size: 24px;"><a href="tel:+12197795752">(219) 779-9652</a></h3>
                                    </div>
                                </div>
                                <div class="row mg-top">
                                    <div class="col-md-6 col-xs-12">
                                        <h3 style="font-size: 24px;">Hours:</h3>
                                    </div>
                                    <div class="col-md-6 col-xs-12 mg-btm" style="padding-right: 0; margin-right: -25px;">
                                        <h3 style="font-size: 24px;">
                                            Mon-Fri: 6:30 AM - 5:00 PM <br>
                                            Sat: 8:00 AM - 2:00 PM <br>
                                            Sun: 9:00 AM - 1:00 PM
                                        </h3>
                                    </div>
                                </div>
                                <div id="map" class="mg-top" style="border: 2px solid #01FF70;"></div>
                                
                                <script>
                                    // Initialize and add the map
                                    function initMap() {
                                        var key = {lat: 41.3997344, lng: -87.368529};
                                        var map = new google.maps.Map(
                                        document.getElementById('map'), {zoom: 15, center: key});
                                        var marker = new google.maps.Marker({position: key, map: map});
                                    }
                                    </script>
                                    <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBilaP5kvUXTydtYbuFwR___u85pu5nQ-U&callback=initMap">
                                </script> 
                            </div>  
                        </div>
                    </div>
                </div>
</div>
<% include partials/footer %>