@font-face {
    font-family: "Agency";
    src: url("fonts/agency-fb_[allfont.net].ttf");
}

body {
    font-family: 'Agency', sans-serif;
    background-color: #DCDCDC;
    background-image: url(images/stripes-light.png);
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-top: 0px;
}

.bottom-line {
    border-bottom: 4px solid #01FF70;
}

.comp-width-1 {
    width: 100%;
}

.subtext {
    text-align: center;
}

.btn-center {
    margin: 0 auto;
}

.head {
    font-weight: 700;
    font-size: 5em;
    margin-top: 115px;
}

.mg-top {
    margin-top: 40px;
}

@media (max-width: 576px) {
    .col-small {
        margin-left: 12%;
    }
}

.content {
    height: 400px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 3px rgba(0,0,0,.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

form {
    padding: 25px 0;
}